src.egg-info
venv
__pycache__
.env
Backend/static/blogs
Backend/static/output
Backend/static/final_blog.json
Backend/static/*.png
Notebooks/
Backend/main2.py
Backend/static.zip
Frontend/index.html
Frontend/script.js
Frontend/style.css
logs
chatbot
chatbot2
Frontend
Backend/auth.py
Backend/auth_routes.py
Backend/static/login.html
Backend/static/register.html