fastapi
uvicorn
google-generativeai
requests
pillow
python-dotenv
pathlib
Wikipedia-API 
arxiv 
newsapi-python
wikipedia
markdown
pydub
gtts
moviepy
opencv-python
numpy
jinja2
bs4
pymongo[srv]
pdfkit
python-docx
reportlab
-e .