fastapi
uvicorn
google-generativeai
requests
pillow
python-dotenv
pathlib
Wikipedia-API 
arxiv 
newsapi-python
wikipedia
markdown
pydub
gtts
moviepy==1.0.3
opencv-python
numpy
jinja2
bs4
pymongo[srv]
pdfkit
python-docx
reportlab
langchain-google-genai
gitpython
python-multipart
langchain-text-splitters
faiss-cpu

-e .